[submodule "crm-gateway-service"]
	path = crm-gateway-service
	url = git@github.com:Mark-Semenov/crm-gateway-service.git
[submodule "crm-discovery-service"]
	path = crm-discovery-service
	url = git@github.com:Mark-Semenov/crm-discovery-service.git
[submodule "crm-customer-service"]
	path = crm-customer-service
	url = git@github.com:Mark-Semenov/crm-customer-service.git
[submodule "crm-company-service"]
	path = crm-company-service
	url = git@github.com:Mark-Semenov/crm-company-service.git
